<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tmmim APIs</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-default"></nav>

    <div class="container">
      <h3 class="text-center text-success mt-4">
        Welcome to Tmmim APIs & Admin Panel!
      </h3>
      <ul
        class="list-group list-group-horizontal d-flex justify-content-center mt-5"
      >
        <a href="/admin" class="btn btn-none">
          <li class="list-group-item">Admin Panel</li>
        </a>
        <a href="/docs" class="btn btn-none">
          <li class="list-group-item">API Documentation</li>
        </a>
      </ul>
    </div>
  </body>
</html>
